interactions:
  - request:
      body:
        password: PASSWORD
        username: USERNAME
      headers: { }
      method: POST
      uri: https://api.mangadex.org/auth/login
    response:
      body:
        string: '{"result":"ok","token":{"session":"session_token","refresh":"refresh"}}'
      headers:
        Content-Type:
          - application/json
        x-correlation-id:
          - '1300687'
        x-ratelimit-limit:
          - '30'
        x-ratelimit-remaining:
          - '16'
        x-ratelimit-retry-after:
          - '1622383150'
      status:
        code: 200
        message: OK
      url: https://api.mangadex.org/auth/login
  - request:
      body: null
      headers:
        authorization:
          - AUTHORIZATION
      method: GET
      uri: https://api.mangadex.org/auth/check
    response:
      body:
        string: '{"result":"ok","isAuthenticated":true,"roles":["ROLE_MEMBER","IS_JWT_AUTHENTICATED","IS_AUTHENTICATED_FULLY","IS_AUTHENTICATED_ANONYMOUSLY","IS_AUTHENTICATED_REMEMBERED"],"permissions":["user.list","manga.view","chapter.view","author.view","scanlation_group.view","cover.view","manga.list","chapter.list","author.list","scanlation_group.list","cover.list"]}'
      headers:
        Content-Type:
          - application/json
        x-correlation-id:
          - b80db55
      status:
        code: 200
        message: OK
      url: https://api.mangadex.org/auth/check
  - request:
      body: null
      headers:
        authorization:
          - AUTHORIZATION
      method: GET
      uri: https://api.mangadex.org/user/me
    response:
      body:
        string: '{"result":"ok","data":{"id":"72704f84-a9ac-4078-a688-0e910b811abc","type":"user","attributes":{"username":"PokestarFan","version":5}},"relationships":[]}'
      headers:
        Content-Type:
          - application/json
        x-correlation-id:
          - 7ed390e
      status:
        code: 200
        message: OK
      url: https://api.mangadex.org/user/me
[...]
  - request:
      body: null
      headers:
        authorization:
          - AUTHORIZATION
      method: GET
      uri: https://api.mangadex.org/user/me
    response:
      body:
        string: '{"result":"error","errors":[{"id":"db3f44cc-0460-5d1c-9a9c-cfde7ceb26da","status":401,"title":"http_exception","detail":"Full
        authentication is required to access this resource.","context":null}]}'
      headers:
        Content-Type:
          - application/json
        x-correlation-id:
          - 3daeec3
      status:
        code: 401
        message: Unauthorized
      url: https://api.mangadex.org/user/me
  - request:
      body:
        token: REFRESH_TOKEN
      headers:
      method: POST
      uri: https://api.mangadex.org/auth/refresh
    response:
      body:
        string: '{"result":"ok","token":{"session":"session_token","refresh":"refresh"}}'
      headers:
        Content-Type:
          - application/json
        WWW-Authenticate:
          - ''
        x-correlation-id:
          - 6b3db56
        x-ratelimit-limit:
          - '30'
        x-ratelimit-remaining:
          - '17'
        x-ratelimit-retry-after:
          - '1622383151'
      status:
        code: 401
        message: Unauthorized
      url: https://api.mangadex.org/auth/refresh
[...]
