interactions:
  - request:
      body:
        token: REFRESH_TOKEN
      headers: { }
      method: POST
      uri: https://api.mangadex.org/auth/refresh
    response:
      body:
        string: '{"result":"ok","token":{"session":"session_token","refresh":"refresh"}}'
      headers:
        Content-Type:
          - application/json
        x-correlation-id:
          - 84362c3
        x-ratelimit-limit:
          - '30'
        x-ratelimit-remaining:
          - '15'
        x-ratelimit-retry-after:
          - '1622347643'
      status:
        code: 200
        message: OK
      url: https://api.mangadex.org/auth/refresh
  - request:
      body: null
      headers:
        authorization:
          - AUTHORIZATION
      method: GET
      uri: https://api.mangadex.org/auth/check
    response:
      body:
        string: '{"result":"ok","isAuthenticated":true,"roles":["ROLE_MEMBER","IS_JWT_AUTHENTICATED","IS_AUTHENTICATED_FULLY","IS_AUTHENTICATED_ANONYMOUSLY","IS_AUTHENTICATED_REMEMBERED"],"permissions":["user.list","manga.view","chapter.view","author.view","scanlation_group.view","cover.view","manga.list","chapter.list","author.list","scanlation_group.list","cover.list"]}'
      headers:
        Content-Type:
          - application/json
        x-correlation-id:
          - 12106d3
      status:
        code: 200
        message: OK
      url: https://api.mangadex.org/auth/check
  - request:
      body: null
      headers:
        authorization:
          - AUTHORIZATION
      method: GET
      uri: https://api.mangadex.org/user/me
    response:
      body:
        string: '{"result":"ok","data":{"id":"72704f84-a9ac-4078-a688-0e910b811abc","type":"user","attributes":{"username":"PokestarFan","version":5}},"relationships":[]}'
      headers:
        Content-Type:
          - application/json
        x-correlation-id:
          - c45bcd6
      status:
        code: 200
        message: OK
      url: https://api.mangadex.org/user/me
  - request:
      body: null
      headers:
        authorization:
          - AUTHORIZATION
      method: GET
      uri: https://api.mangadex.org/ping
    response:
      body:
        string: pong
      headers:
        Content-Type:
          - application/json
        x-correlation-id:
          - 1ecc219
      status:
        code: 200
        message: OK
      url: https://api.mangadex.org/ping
version: 1
